{%
  set classes = [
  'wayfinding-wrapper',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  <div id="wayfinding">
    {% if attachment_before -%}
      <div class="legend-wrapper before">
        <div class="content-container content-container-before">{% if popupdestination == '.legend-wrapper.before .content-container-before' %}{{ popupcontent|raw }}{% endif %}</div>
        {% if attachment_before|length > 1 %}
          <div class="wayfinding-tabs">
            {% for attachment in attachment_before %}
              <span class="wayfinding-tab tab-{{ loop.index0 }}{% if loop.index0 == 0 %} active{% endif %}" data-id="legend-before-{{ loop.index0 }}">&nbsp;</span>
            {% endfor %}
          </div>
        {% endif %}
        {% for attachment in attachment_before %}
          <div class="legend legend-before-{{ loop.index0 }}{% if loop.index0 == 0 %} active{% endif %}">
            {{ attachment }}
          </div>
        {% endfor %}
        <div class="content-container content-container-after">{% if popupdestination == '.legend-wrapper.before .content-container-after' %}{{ popupcontent|raw }}{% endif %}</div>
      </div>
    {% endif %}
    <div class="images-wrapper">
      <div class="content-container content-container-before">{% if popupdestination == '.images-wrapper .content-container-before' %}{{ popupcontent|raw }}{% endif %}</div>
      <div class="images">
        <div class="background">
          {{ bgimg|raw }}
          <div class="pin">
            {{ pinimg|raw }}
          </div>
        </div>
        <div class="destinations">
          {% if rows -%}
            {{ rows }}
          {% elseif empty -%}
            {{ empty }}
          {% endif %}
        </div>
      </div>
      <div class="content-container content-container-after">{% if popupdestination == '.images-wrapper .content-container-after' %}{{ popupcontent|raw }}{% endif %}</div>
    </div>
    {% if attachment_after -%}
      <div class="legend-wrapper after">
        <div class="content-container content-container-before">{% if popupdestination == '.legend-wrapper.after .content-container-before' %}{{ popupcontent|raw }}{% endif %}</div>
        {% if attachment_after|length > 1 %}
          <div class="wayfinding-tabs">
            <h1>
              {{ title_prefix }}
              {{ title }}
              {{ title_suffix }}
            </h1>
            {% for attachment in attachment_after %}
              <span class="wayfinding-tab tab-{{ loop.index0 }}{% if loop.index0 == 0 %} active{% endif %}" data-id="legend-after-{{ loop.index0 }}">&nbsp;</span>
            {% endfor %}
          </div>
        {% endif %}
        {% for attachment in attachment_after %}
          <div class="legend legend-after-{{ loop.index0 }}{% if loop.index0 == 0 %} active{% endif %}">
            {{ attachment }}
          </div>
        {% endfor %}
        <div class="content-container content-container-after">{% if popupdestination == '.legend-wrapper.after .content-container-after' %}{{ popupcontent|raw }}{% endif %}</div>
      </div>
    {% endif %}
    <div class="widgets">
      <div class="widget route"></div>
    </div>
  </div>
  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
  {{ feed_icons }}
  {% if popupdestination == 'popup' %}
    <div id="popup-content-wrapper">
      <div class="popup-content-background">&nbsp;</div>
      {{ popupcontent|raw }}
    </div>
  {% endif %}
</div>
